* {padding: 0;
    margin: 0;
    box-sizing: border-box;}
body {color: #383838;}
@font-face {font-family: long;
    src: url('fonts/long.otf');}
@font-face { font-family: orelo;
    src: url('/fonts/Orelo-SemiWide.ttf');}
@font-face {font-family: mazz;
    src: url(/fonts/Mazius-Extraitalic.121a71a7.otf);}
@font-face {font-family: Neue;
    src: url(/fonts/RMNeueTRIAL-Regular.otf);}
@font-face {font-family: pixel;
    src: url(/fonts/pixel.otf);}
@font-face { font-family: bavaria;
    src: url('/fonts/BavariaGatesPersonalUse-8MdRg.otf');}
@font-face { font-family: gilbold;
    src: url('/fonts/Gilroy-ExtraBold.otf');}
@font-face {font-family: gilnormal;
    src: url('/fonts/Gilroy-Light.otf');}
#pageek {height: 100vh;width: 100vw;
    background: rgb(236, 234, 234);
    overflow: hidden;}
.ekmaincontent {display: flex;height: 85vh;
    justify-content: center;
    align-items: center;}
.ekmaincontent ul {position: relative;display: flex;
    flex-direction: column;
    font-family: bavaria;
    line-height: 300%;}
.ekmaincontent ul li {list-style: none;font-size: 10vh;
    text-align: center;}
.ekmaincontent ul li h1 {position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 0px;
    font-weight: 100;
    text-decoration: none;
    color: #383838;
    transition: 0.2s;}
.nav {display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    padding: 10px 25px;}
#menu {height: 100%;
    width: 10%;
    align-content: flex-end;
    display: flex;
    display: flex;
    align-content: flex-end;}
#brandlogo {height: 100%;
    width: 90%;
    font-size: 1em;
    font-family: gilnormal;
    font-weight: 400;}
#brandlogo h1 {letter-spacing: 5px;}
#brandlogo h1 span {font-size: 1.2em;
    font-family: mazz;
    color: #14CF93;}
#menu img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;}
#ekimages {height: 200px;
    width: 150px;
    position: absolute;
    top: 16%;
    left: 64%;}
.ekimages {height: 200px;
    width: 150px;
    border-radius: 10px;
    object-fit: contain;
    position: absolute;}
#ekbottom {position: absolute;
    height: 5vh;
    width: 100%;
    z-index: 100;
    display: flex;
    font-family: gilnormal;
    justify-content: space-between;}
#ekbottom h3:nth-child(1) {position: relative;
    top: -60px;}
#pagedo {height: 100vh;
    width: 100vw;
    background: rgb(236, 234, 234);
    position: relative;}
.doimg {display: flex;
    justify-content: center;
    align-content: center;
    animation: animate-blob 4s ease-in-out infinite;}
.doimg:hover {filter: grayscale(0.4)}
@keyframes animate-blob {0% {border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;}
    50% {border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;}
    100% {border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;}}
.pgdohero {position: absolute;
    text-align: center;
    font-size: 4.5vh;
    left: 33%;
    top: 27%;}
.pgdohero h1 {display: inline-block;
    font-weight: 10;
    color: #383838;
    font-family: gilnormal;}
.pgdohero h1 span {
font-family: mazz;}
.pgdohero #circlei {position: absolute;
    height: 60px;
    width: 100px;
    left: 7%;
    top: 33%;}
.imek {position: relative;
    top: 23%;
    left: 10%;
    height: 250px;
    width: 250px;
    transition: 1s;
    background-image: url(/images/img4.jpg);
    background-size: cover;}
.imek img {height: 100%;
    width: 100%;    object-fit: cover;}
.rotate {position: absolute;
    height: 100px;
    width: 100px;
    top: 76%;
    left: 67%;
    display: inline-block;
    border-radius: 50%;
    animation: linear infinite 3s anime;}
.rotate img {height: 100%;
    width: 100%;
    object-fit: contain;}
.rotate:hover {animation-play-state: paused;}
@keyframes anime {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);    }}
colgroup {background: rgba(172, 255, 47, 0.485);}
#pageten {height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    color: #383838;
    background-color: rgb(236, 234, 234)}
#heropageten {height: 100%;
    width: 100%;
    background-color: rgb(236, 234, 234);
    position: absolute}
#pagetentop,
#pagetenbottom {
    height: 50vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(236, 234, 234);}
#pagetenbottom {
    bottom: 0;}
#pagetentop {
    top: 0px;
    z-index: 1;}
#dimg {   height: 100%;
    width: 100%;
    rotate: 5deg;}
#dimgek {    height: 33%;
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;}
#dimgek h1 {    color: bisque;
    padding: 10px;
    font-size: 5em;
    height: 100%;
    width: 100%;
    font-family: gilnormal;
    animation: infinite danimr 35s linear;}
#dimgek h1 img {
    top: 0;
    position: relative;
    height: 150px;
    width: 220px;
    object-fit: contain;}
#dimgdo {
    height: 33%;
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;}
#dimgdo h1 {
    padding: 10px;
    color: bisque;
    font-size: 5em;
    height: 100%;
    width: 100%;
    font-family: gilnormal;
    animation: infinite daniml 35s linear;}
#dimgdo h1 img {
    top: 0;
    position: relative;
    height: 150px;
    width: 200px;
    object-fit: contain;}
#dimgten {
    height: 33%;
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;}
#dimgten h1 {   color: bisque;
    padding: 10px;
    font-size: 4em;
    height: 100%;
    width: 100%;
    font-family: gilnormal;
    animation: infinite danimr 35s linear;}
#dimgten h1 img {    top: 0;
    position: relative;
    height: 150px;
    width: 200px;
    object-fit: contain;}
@keyframes danimr {    0% {
        transform: translateX(0%);    }    100% {
        transform: translateX(-100%);    }}
@keyframes daniml {    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);    }}
.gi {    font-size: 20em;
    font-family: gilnormal;
    font-weight: 1000;
    letter-spacing: 2px;}
.gi span {    color: #14CF93;
    font-family: mazz;
    font-weight: 400;
    font-size: 1.2em;}
#gt {    position: relative;
    bottom: -80px;}
#gb {    position: relative;
    top: -186.5px;}
#pagechar {    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(236, 234, 234);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #14CF93;
    position: relative;}
.cards {    height: 80vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);}
#card-one {    top: 130%;
    background: #aaa;}
#card-two {    background: rgb(0, 0, 0);
    top: 230%;
    overflow: hidden;}
#card-three {    top: 250%;
    overflow: hidden;}
#card-one {    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(254, 251, 226, 0.769);}
#c3hero {    position: absolute;
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 200px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;}
#c3hero img {    height: 100%;
    width: 100%;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    filter: saturate(2px);
    transition: .5s;}
#c3hero img:hover {    filter: blur(4px);}
#card-one .c3heroh1 {    font-family: Orelo SemiWide;
    font-size: 7em;
    font-weight: 400;
    text-align: center;
    z-index: 1;
    color: rgb(228, 183, 123);
    text-transform: uppercase;
    margin: -30px;}
#em {    position: relative;
    left: -20%;}
#span1 {
    position: relative;
    left: 10%;}
#span2 {    left: 10%;
    position: relative;}
#c3herop {    font-family: gilroy;
    color: rgb(215, 136, 32);
    transition: 3s;
    font-size: 20px;
    rotate: 90deg;
    position: absolute;
    left: 30px;}
#pcont {    position: absolute;
    left: 70%;
    font-family: orelo SemiWide;
    font-size: 1em;
    color: rgb(215, 136, 32);
    bottom: 50px;
    font-weight: 800;}
.c1hero {    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: -2;}
.c1hero .c1header {
    position: absolute;
    top: 15%;
    left: 23%;
}

#c1h1 {    font-family: Neue;
    text-transform: uppercase;
    font-size: 12vw;
    font-weight: 400;
    color: #383838;
    position: absolute;
    top: 20%;
    letter-spacing: -0.025em;
    text-align: center;
    pointer-events: none;
    line-height: 0.75;
}
#c1h1 span {
    font-family: pixel;}
#toggle {    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    color: #383838;
    padding: 0.8em 1.6em;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(79, 33, 33, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 10000;}
nav {    position: fixed;
    top: 0;
    color: #383838;
    display: flex;
    justify-content: space-between;
    max-inline-size: difference;
    width: 100%;
    font-family: 8514oem Regular;
    z-index: 1000;}
nav div {    display: flex;
    margin: 0 4em;}
nav div p {    font-weight: 400;
    font-size: 1.5em;
    padding: 0.8em 1.6em;
    text-transform: uppercase;}
#c1square-container {    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10000;
    pointer-events: none;}
.square {    height: 100px;
    width: 100px;
    background: #fd552f;
    box-sizing: border-box;
    pointer-events: none;}
#c2txt1,
#c2txt3,
#c2txt2 {    position: relative;
    height: 33%;
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    color: azure;
    font-family: gilbold;
    font-size: 5em;
    z-index: -10;}
#c2txt1 h1 span,
#c2txt2 h1 span,
#c2txt3 h1 span {    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px azure;}
#c2txt2 h1 {    animation: linear infinite 14.5s daniml;}
#c2txt1 h1 {    animation: linear infinite 10s danimr;}
#c2txt3 h1 {    animation: linear infinite 10s danimr;}
#card-two img {    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    object-fit: contain;}
#pagepanch {    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(236, 234, 234);}
#pagepanch #container5 {    height: 80vh;
    width: 80vw;
    background-color: rgb(236, 234, 234);}
canvas {background-color: rgb(236, 234, 234);}
.intro,
.ekimages{    z-index: 10000;}
#connect {    position: relative;
    height: 100vh;
    width: 100vw;}
#connect {    font-family: poppins;
    background: #EFEAE3;}
.header-containerr {    color: rgb(37, 37, 37);
    width: 100%;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;}
.header {    font-size: 54px;
    font-weight: 600;}
@media(max-width:900px) {    .header {
        font-size: 30px;}}
.navv-containerr {    color: #fff;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;}
.navv-containerr>* {    flex: 1 100%;}
.navv-top {    display: flex;
    flex-direction: row;}
.navv-top>* {    flex: 1 100%;}
.cardd-containerr {    position: relative;
    width: 25vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 50px;
    transition: all .3s ease-out;
    transform: scale(.98);}
.cardd {    width: 100%;
    height: 100%;
    overflow: hidden;}
.cardd-containerr:hover {    transform: scale(.92);
    border-radius: 50px;
    cursor: pointer;}
.cardd-icon {    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 0;
    padding: 50px;
    font-size: 20px;}
.preview-text {    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
    font-size: 20px;
    font-weight: 400;}
.text-wrapper {    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(0, -50%);
    font-size: 40px;
    font-weight: 400;
    white-space: nowrap;
    transition: .2s ease-out;
    animation: float-text 30s linear infinite;
    animation-delay: 0s;
    opacity: 0;
    padding: 20px 0;}
@keyframes float-text {    0% {        left: -20%;}
50% {        left: -100%;}
100% {        left: -20%;}}
.cardd-containerr:hover .text-wrapper {    opacity: 1;}
.services .cardd-containerr {    background-color: #2900e8;
    width: 50vw;
    height: 60vh;}
.services .text-wrapper {    font-size: 70px;
    opacity: 1;}
.services .cardd-containerr:hover .text-wrapper {    opacity: 0;}
.cardd-title {    position: absolute;
    top: 0;
    left: 10%;
    font-size: 20px;
    font-weight: 400;}
.cardd-logo {    position: absolute;
    top: 0;
    right: 0;
    padding: 50px;
    font-size: 40px;
    text-transform: uppercase;}
.shapes-containerr {    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
.shapes {    width: 35vw;
    height: 35vh;
    animation: round-round 12s linear infinite;}
#square {    position: relative;
    top: -50;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #a5a1ff;
    animation: round-round 12s linear infinite;}
#circle {    position: relative;
    bottom: 0;
    left: 20%;
    width: 100px;
    border-radius: 50%;
    transition: .2s;
    height: 100px;
    background: #a5a1ff;}
#triangle {    position: relative;
    top: -20%;
    width: 0;
    height: 0;
    left: 50%;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid #a5a1ff;
    animation: round-round 12s linear infinite;
    transition: .2s;}
.cardd-containerr:hover #square {
    background: #fff;}
.cardd-containerr:hover #circle {
    background: #ffc0cb;}
.cardd-containerr:hover #triangle {
    border-bottom: 100px solid #fff480;}
@keyframes round-round {from {transform: rotate(0deg);}
to {transform: rotate(360deg);}}
.work .cardd-containerr {    background: #fff;
}
.work .preview-text,
.work .cardd-icon {    color: #000;}
.work .cardd-containerr:hover .preview-text,
.work .cardd-containerr:hover .cardd-icon {    transition: .2s;
    color: #fff;}
.work .cardd-containerr:hover .text-wrapper {    color: #000;}
.about .cardd-containerr {    background: #1b1b1f;}
.contact .cardd-containerr {    background: #fff480;
    transform: scale(.99, 0.92);
    width: 50vw;}
.contact .cardd-containerr:hover {
    transform: scale(.96, 0.92);}
.contact .preview-text,
.contact .cardd-icon {    color: #000;}
.contact .cardd-containerr:hover .preview-text,
.contact .cardd-containerr:hover .cardd-icon {
    transition: .2s;
    color: #fff480;}
.contact .cardd-containerr:hover .text-wrapper {
    color: #000;}
.about .preview-text,
.about .cardd-icon {
    color: #fff;}
.about .cardd-containerr:hover .preview-text,
.about .cardd-containerr:hover .cardd-icon {    transition: .2s;
    color: #1b1b1f;}
.about .cardd-containerr:hover .text-wrapper {    color: #fff;}
.gi {    font-size: 18em;}
.c2 h1{    font-size: 1.5em;}
.c1 h1{font-size: .5em;}
.c3heroh1{font-size: 1px;}
#pagedcii {
    background-color: #EFEAE3;
    position: relative;}
#moving-text {    overflow-x: auto;
    white-space: nowrap;}
#moving-text::-webkit-scrollbar {
    display: none;}
.con {white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;}
#moving-text h1 {font-size: 9vw;
    display: inline-block;}
#gola {    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color:#14CF93;
    margin: 1vw 2vw;}
@keyframes move {    from {transform: translateX(0);}
    to {transform: translateX(-100%);}}
#pageek #gooey {    height: 25vw;
    width: 25vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #14CF93, #14Cf70);
    top: 25%;
    left: 38%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: .7;
    animation-timing-function: ease-in-out;
}
@keyframes gooey {    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }}
#top{    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);}
#back{
height: 100vh;
    width: 100%;}
#workarea{    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 80%;}
#mid{    top: 15%;
    transform: translate(0,-50%);
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;}
#mright{   width: 50%;
    height: 80px;}
#mleft{    width: 30%;
    height: 80px;display: flex;
    flex-direction: column;
    align-items:flex-end ;
    color: #fff;}
#mright .elems{    height: 8vw;
    overflow: hidden;}
#mright .elems h1{    line-height: .9;
    font-family:"Kajiro";
    font-weight: 100;
    color:white;
    font-size: 9vw;}
#mright button{    font-family: "kajiro";
    padding: 4px 10px;
    font-weight: 100;
    font-size: 2vw;
    outline: none;}
#mleft p{    font-size: 10px;
    text-align: right;
    margin: 25px;}